


<%
for(var i = 0;i<8;i++)
{
%>
<div class="baby-video-div">
    <div class="baby-video-preview">
        <img src="images/img-video-preview.jpg" style="width:100%">
    </div>
    <div class="baby-video-brief">
        <p>这些素人妈妈中流行的榜样式育儿经，不知道你就OUT啦</p>
    </div>
</div>
<%
}
%>