

<%
for(var i= 0;i<6;i++){
%>
<div class="power-product-detail" list=<%=i+1%>>
    <img src="images/img-product.jpg">
    <span>嗳呵婴儿特润护肤霜（男婴）- 60g</span>
    <div class="power-product-hover-wrapper">
        <div class="prodcut-hover">
            <ul>
                <li>
                    <div class="product-hover-icon">
                        <img src="images/product-buy.png">
                    </div>
                    <div class="product-hover-text">
                        <a href="">天猫购买</a>
                    </div>
                </li>
                <li>
                    <div class="product-hover-icon">
                        <img src="images/product-store.png">
                    </div>
                    <div class="product-hover-text">
                        <a href="">线下门店</a>
                    </div>
                </li>
                <li>
                    <div class="product-hover-icon">
                        <img src="images/product-evaluation.png">
                    </div>
                    <div class="product-hover-text">
                        <a class="product-hover-eval">PC Baby 评测</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="product-hover-content">
            <div>
                <h2>嗳呵婴儿特润护肤霜</h2><br>
                <p>保护宝宝脸蛋，远离干燥破裂采用丹麦母婴护理技术。保护宝宝脸蛋，远离干燥破裂，采用丹麦母婴护理技术。保护宝宝脸蛋，远离干燥破裂，采用丹麦母婴护理技术。</p><br>
                <h2>【媒体推荐】</h2><br>
                <p>xxxxxxxxxxxxxxx</p>
            </div>
        </div>
    </div>
</div>

<%
}
%>