<%
    for(var i=0;i<2;i++) {
%>

<li>
    <div class="store-list-div">
        <div class="wrapper">
            <img src="images/img-store-list-no.png" class="store-no-img">
        <span class="store-no">1</span>
        </div>
        
    </div>
    <div class="store-list-content">
        <h1>嗳呵上海淮海路店</h1>
        <p>上海市卢湾区淮海中路364号，</p>
        <p>上海市，卢湾区</p>
        <p>021-34248888</p><br>
    </div>
</li>

<%
}
%>