/* 
 * Basic Reset
 */
* {
    margin: 0; padding: 0;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
img, fieldset { border: 0; }
img { max-width: 100%; vertical-align: middle; }
button { cursor: pointer; }
ul { list-style: none; }
a { text-decoration: none; }

a:hover {
    cursor: pointer;
}
/* 
 * typograph
 */
body, input, select, textarea, button {
    font-family: 'Helvetica', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', 'Arial', 'sans-serif';
}

body {
    font-size: 0.5em;
}

/* iphone6 + */
@media (min-width: 375px) {
    body {
        font-size: 0.5em;
    } 
}

@media (min-width: 640px) {
    body {
        font-size: 0.75em;
    } 
}

@media (min-width: 1600px) {
    body {
        font-size: 1em;
    } 
}

/*
 * structure
 */

.container {
    padding: 0;
}

.site {
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .site{
        max-width: 1600px;
    }
} 


.site-header, .site-content, .site-footer {
    width: 100%;
    margin: auto;
}


@media (min-width: 640px) {
    .site-header, .site-content, .site-footer {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .site-header, .site-content, .site-footer {
        width: 66.25%;
        margin: auto;
    }
}

/*
 * header section
 * */
.header-top-bar {
    position: relative;
    background: #FFF;
    height: 7.5em;
}

.header-top-bar .logo {
    position: relative;
    display: block;
    width: 71.5625%;
    height: 100%;
    background: url(../images/img-logo-sm.jpg) no-repeat left center;
    background-size: contain;
}

.header-top-bar .nav-ec {
    position: absolute;
    top:0;
    right:0;
    width: 0;
}
.header-top-bar .nav-icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 7.5em;
    width: 28.4375%;
}

.header-top-bar .nav-icon button {
    position: absolute;
    display: block;
    margin-top: 0.85em;
    right: 1em;
    width: 3.425em;
    height: 3.275em;
    background: transparent url(../images/icon-nav-sm.jpg) no-repeat center center;
    background-size: 100% 100%;
    border: 0;
}


.header-nav {
    display: block;
    max-height: 0;
    overflow: hidden;
    /* Set our transitions up. */
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;

   /* height: 35em; */
}


.site-search {
    position: relative;
    display: block;
    height: 5em;
    margin-left: 7.25%;
    margin-right: 6.25%;
}

.search-field {
    background: #FFF;
    line-height: 4em;    
    border: 1px solid rgb(107, 144, 31);
    border-radius: 0.5em;
}
.search-field input {
    background: transparent;
    padding: 0.1em 0.2em;
    border: none;
    height: 1.8em;
    width: 16em;
    font-size: 2em;
    font-weight: bold;
}
.search-field button {
    float: right;
    background: rgb(107, 144, 31) url(../images/icon-search-small.png) no-repeat center center;
    border: 0;
    width: 4em;
    height: 3em;
}


.header-nav ul li {
    display: block;
    height: 5em;
}

.header-nav ul li:first-child {
    background: url(../images/img-hd-nav-top-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.header-nav ul li:not(:first-child) a {
    border-bottom: 1px solid rgb(107, 144, 31);
}

.header-nav ul li:last-child a {
    border: none;
}

.header-nav ul li a {
    display: block;
    line-height: 2.5em;
    font-size: 2em;
    height: 100%;
    color: rgb(107, 144, 31);
    margin-left: 7.25%;
    margin-right: 6.25%;
}

.header-nav ul li a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25em;
    font-weight: bold;
}


.header-banner {
    position: relative;
    display: block;
    margin: 0 auto;
}

.header-banner #slider1
{
    position: relative;
    margin: 0 auto;
}

.slides-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.slides-wrapper .page {
    position: relative;
    width: 100%;
}

.slides-wrapper .page .pic-wrapper {
    display: block;
    width: 100%;
    padding-bottom: 62.5%;
    background: url(../images/img-hd-banner-sm.jpg) no-repeat center center;
    background-size: cover;
}




@media (min-width: 640px) {
    .header-top-line {
        background: rgb(107, 144, 31);
        height: 0.1857em; /* 3px */
     }

    .header-top-bar {
        background: url(../images/img-header-top-bg.png) no-repeat center center;
        background-size: 100% 100%;
        height: 4.1875em; /* 67px */
    }

    .header-top-bar .logo {
        height: 100%;
        background: url(../images/img-logo.jpg) no-repeat left center;
        background-size: contain;
    }

    .header-top-bar .nav-ec {
        top:0;
        right:0;
        height: 100%;
        width: 20.188679%;
        background: url(../images/img-toec.jpg) no-repeat center center;
        background-size: contain;
    }

    .header-top-bar .nav-icon {
        display: none;
    }

    .slides-wrapper .page .pic-wrapper {
        width: 100%;
        padding-bottom: 44.245283018868%;
        overflow: hidden;
        background: url(../images/img-hd-banner.jpg) no-repeat 50% center;
        background-size: cover;
    }
}

@media (min-width: 1080px) {
    .site-header, .site-content, .site-footer {
        width: 100%;
        margin: 0 auto;
    }

    .header-top-bar .logo {
        margin-left: 16.875%;
    }

    .header-top-bar .nav-ec {
        right: 16.875%;
    }

    .slides-wrapper .page .pic-wrapper {
        padding-bottom: 29.3125%;
        background: url(../images/img-hd-banner-lg.jpg) no-repeat center center;
        background-size: contain;
    }
}

/*
 * content section
 */

.site-content {
    height: 3000px;
    background: url(../images/img-bg-lg.jpg) repeat-y center top;
    background-size: contain;
}


/*sites map*/
/* =========================================================== */
.main-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.map-menu{
    display: block;
    width: 24.25%;
    position: absolute;
    top: 6.5em;
}

.map-menu ul{
    display: block;

}

.map-menu ul li{
    padding-top: 10px;
    display: block;
}

.map-menu ul li button{
    font-size: 1.5em;
    height: 3.2em;
    color: white;
    background: transparent url(../images/img-menu-button.png) no-repeat center center;
    background-size: contain;
    text-align: center;
    width: 100%;
    border:0;
}

.map-menu ul li:first-child button{
    background: transparent url(../images/img-menu-button-hl.png) no-repeat center center;
    background-size: contain;
    color: rgb(120,149,44);
}

.map-content{
    display: block;
    width: 70%;
    background: url(../images/img-map-bg.png) no-repeat left top;
    background-size: cover;
    height: 51.75em;
    position: absolute;
    top: 7em;
    left: 25%;
}
.map-content-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.map-title{
    width: 88.44%;
    height: 12.87%;
    left: 5.78%;
    position: absolute;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(120,149,44); 
}

.map-title ul{
    padding-top: 7%;
}

.map-title ul li{
   color: rgb(120,149,44); 
}

.map-title ul li:not(:first-child){
    display: inline-block;
    padding-left: 12.9%;
}

.map-title ul li:first-child{
    display: inline-block;
    padding-left: 0%;
    
}

.map-homepage{ 
  color: rgb(120,149,44); 
  padding-top: 6%;
  left: 5.78%;
  position: absolute;
}

.map-brand{
    padding-top: 6%;
    left: 25.78%;
    position: absolute;
}

.map-care{
    padding-top: 6%;
    left: 51.77%;
    position: absolute;
}

.map-baby{
    padding-top: 6%;
    left: 77.79%;
    position: absolute;
}

.map-list li:first-child{
    font-size: 1.3em;  
    color: rgb(120,149,44); 
    padding-bottom: 2.5em;
    height: 2.5em;
}

.map-list  li:not(:first-child){
    font-size: 1.2em;  
    color: rgb(172,165,162); 
    padding-bottom: 1em;
}

@media (min-width: 640px){
    .map-title ul li{
        font-size: 1.2em;
    }
}

@media (min-width: 1080px){
    .map-title ul li{
        font-size: 1.4em;
    }
}
/* =========================================================== */


/*green power*/
/* =========================================================== */
.power-main-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.timeline{
    display: block;
    background: url(../images/img-timeline-bg.jpg) no-repeat left top;
    background-size: cover;
    width: 94.72%;
    margin-left:2.64%;
    height: 513px; /*513*/
    top: 2.5em;
    /*position: absolute;*/
}

.timeline-wrapper,.power-product-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.time-line-img{
    /*top: 6.8%;*/
    /*position: absolute;*/
    width: 40%;
    padding-top: 20px;
    display: inline-block;
    /*float: left;*/
}

.time-line-img img{
    width: 100%;
    float: left;
}

.timeline-title{
    /*position: absolute;*/
    display: inline-block;
    width: 45.82%;
    color: rgb(120,149,44); 
    /*right: 7.5em;*/
    left: 50%;
    /*float: right;*/
    padding-top: 20px;
    vertical-align: top;
}


.timeline-title span{
    color: rgb(229,137,27);
}

.timeline-subtitle{
    /*position: absolute;*/
    margin-top: 1em;
}

.timeline-subtitle ul li{
    padding-bottom: 0.6em;
}

.timeline-subtitle ul li div:first-child{
    float: left;
}

.timeline-subtitle ul li div:last-child{
    margin-left: 2em;
}

@media (min-width: 1080px){
    .timeline-subtitle ul li{
        font-size: 1em;
    }
}


.timeline-cradle{
    /*position: absolute;
    top: 55%;*/
    width: 90%;
    margin-left: 5%;
    height: 5.5em;
    border-style: dotted;
    border-color: rgb(120,149,44); 
    border-width: 2px;
    border-radius: 5px;
}

.timeline-cradle div{
      height: 1.17em;
      padding-top: 2.165em;
      /*position: absolute;*/
}

.timeline-cradle div:first-child{
    float: left;
    padding-left: 1.5em;
    vertical-align: middle;
}
.timeline-cradle div:last-child h3{
    color: rgb(120,149,44); 
    margin-left: 3em;
}

.timeline-timeline{
    width: 100%;
    margin-top: 20px;
}

.timeline-line{
    float: left;
    width: 100%;
    position: absolute;
}
.timeline-line-img{
    width: 100%;
    float: left;
}

.timeline-icon{
    width: 100%;
    height: 100%;
    position: absolute;
}

.timeline-icon ul{
    width: 100%;
}

.timeline-icon .timeline-mother{
    padding-left: 22.11%;
    display: inline-block; 
    width: 9.36%;
}
.timeline-icon .timeline-kid {
    padding-left: 10%;
    display: inline-block; 
    width: 9.36%;
}

.timeline-image{
    width: 100%;
}

.timeline-image img{
    width: 100%;
}

.timeline-text{
    color: rgb(120,149,44);
    padding-top: 5%;
    font-size: 1.4em;
    width: 200%;
    padding-left: 20%;
}

.power-product{
    display: block;
    background: url(../images/img-product-bg.png) no-repeat left top;
    height: 670px; /*670*/
    background-size: cover;
    width: 100%;
    top: 2.5em;
}

.power-product-series{
    width: 23.02%;
    top:10.3%;
    left: 1.04%;
    position: absolute;
    text-align: center;
}

.power-product-series img,.power-prodcut-image img{
    width: 100%;
    float: left;
}

.power-prodcut-image{
    width: 37.55%;
    top: 26.88%;
    left: 6%;
    position: absolute;
}

.power-title{
    position: absolute;
    width: 61.63%;
    left: 32.07%;
    top: 10.42%;
    color: rgb(120,149,44); 
}

.power-products{
    width: 50%;
    height: 60%;
    top: 26.88%;
    left: 46%;
    position: absolute;
}

.power-products-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.power-product-detail{
    width: 28.05%;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
}

.power-more{
    right: 7.54%;
    bottom: 7.46%;
    position: absolute;
}

.power-more a{
    font-size: 1.4em;
    color: rgb(120,149,44); 
}

/* =========================================================== */

/*
 * footer section
 * */



/*
 * general use
 */

/*
 * clearfix class - in HTML5 world it is the replacement to <div style="clear: both;"></div> 
 * I borrow the code from html5boilerplate.com
 */
.group:before, .group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

/*
 * a general css used to hide labels that we don't want to show to users but still can be read by bot or screen readers
 * */
.hide-vis {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * hide text that we don't need on a button, but still keep it readable to screen reader
 * This tag only hide the text of the element not hide the whole element like .hide-vis
 * so we still can add child element into this element
 */
.hide-text {
    text-indent: 200%; /* move the text out of visible area but still in the page which can be read by screen reader */
    white-space: nowrap;
    overflow: hidden;
}

.hide-block {
    display: none;
}


